apiVersion: v1
kind: Service
metadata:
  name: {{ include "securevibe.fullname" . }}
  labels:
    {{- include "securevibe.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.targetPort }}
      targetPort: http
      protocol: TCP
      name: metrics
  selector:
    {{- include "securevibe.selectorLabels" . | nindent 4 }}
  sessionAffinity: None
  publishNotReadyAddresses: false